<h1 class="white"> xxSkarlitxx</h1>
<h2 class="red" style="text-indent:50px">Ran's Blog on random stuffs</h2> 
<div class="col-xs-12 col-md-12" style="height:30%"> </div>
<div class="col-xs-2 col-md-2"></div>
<div id="menu" class="col-xs-6 col-md-6">
      <div id="menu_item_post" class="col-xs-6 col-md-3 btn menu_item"> <span class="menu_item_text"> Posts </span></div>
</div>
<div class="col-xs-4 col-md-4"></div>