// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$leftcolheight:800px;
$centercolheight:1000px;
$rightcolheight:600px;

@font-face{
	font-family: xfiles;
	src: url('/assets/font/x-files.ttf');
}
@font-face{
	font-family: cubic;
	src: assets-url('cubic.ttf');
}

@font-face{
	font-family:string_literal;
	src: url('/assets/font/StrLit.ttf');
}


#hero{

	background-color:black;
	color:white;
	height:250px;
}

#content-wrapper{
	background-image: url("public\images\DigitalNomads.jpg");

	#left{
		padding:5px;
		height:$leftcolheight;
		border-style:true;
		border-left:thick;
	}

	#center{
			padding:10px;
			border-style:true;
		    border-left:thick;
		    border-right:thick;
			height:$centercolheight;
	}

	#right{
		padding:5px;	
		height:$rightcolheight;
		border-style:true;
		border-right:thick;
		#login{
			font-family:cubic;
			padding:10px;
		}
	}
	
	#footer{

	}
}
