// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@font-face{
	font-family: xfiles;
	src: url('/assets/font/x-files.ttf');
}
@font-face{
	font-family: cubic;
	src: assets-url('cubic.ttf');
}

@font-face{
	font-family:string_literal;
	src: url('/assets/font/StrLit.ttf');
}


#hero{

	background-color:black;
	color:white;
	height:300px;
	padding-bottom: 5px;
}

#content-wrapper{
	padding:10px;
	background-color:yellow;

	#left{

		background-color:green;

	}

	#center{

			background-color:blue;
	}

	#right{
			
		background-color:purple;
		

		#login{
			font-family:cubic;
			padding:10px;
		}
	}
	
}
